body{
    background: url("img/finite.png") grey;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive;

}
header{
    color: #eb0140;
    text-align: center;
    background-color: royalblue;
    padding: 10px 0px;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
}
header h1{
    display: inline-block;
    border: 2px white solid;
    padding: 12px 6px;
    border-radius: 50px;
   
}
nav{
    background-color: #4b4b4b;
    padding: 20px;
}
.main-nav ul{
    
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;

}
#home{
    padding-left: 4.5em;
}
.main-nav li{
    width: 25%;
    display: inline-block;
    font-size: 1.5em;
    
}
.main-nav li a{
    text-decoration: none;
    color: violet;
}
.main-nav li:hover{
    transition: 1s;
   transform: scale(1.1);
   text-shadow:3px 3px teal;
}
form{
    position: absolute;
    top: 30em;
    left: 47em;
    
}
.email input{
    padding: 20px 50px 20px 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    border: 4px solid;
}
input:valid{
    border-color: #45E05D;
}
input:invalid{
    border-color: red;
}
@media only screen and (max-width:900px){
    form{
        position: relative;
    }
        
}